<%- include("../layout/header", { title: "Project list" }); -%>
        <div class="project-list-header">
            <h1>Project list</h1>
            <div>
                <% if (locals.role && (locals.role === "project_manager" || locals.role === "admin")) { %>
                    <a href="<%="/project/new"%>" class="btn btn-sm btn-outline-secondary mx-auto d-block">
                        New project
                    </a>
                <% } %>
            </div>
        </div>
        <div class="mb-4">
            <form class="project-search-form" action="/project/list" method="GET">
                <h3 class="mb-3">Search</h3>                
                <div class="form-floating mb-3">
                    <div class="form-floating mb-3 input-group">
                    <input type="text" class="form-control" id="project-name" name="name" placeholder="Project name" value="<%= queryParams.name %>"/>
                    <label for="project-name">Project name</label>
                    <div class="input-group-text">
                        <label for="exact-match-search" class="mx-2">Exact match</label>
                        <input id="exact-match-search" class="form-check-input mt-0" type="checkbox" name="exactMatch"
                            <% if(queryParams.exactMatch === "on") { %> <%= "checked" %> <% } %> 
                        >
                    </div>
                </div>
                </div>
                <div class="mb-3 d-flex">
                    <div class="form-check me-2">
                        <input id="active-status" class="form-check-input" type="radio" name="status" value="active"
                            <% if(queryParams.status === "active" || !queryParams.status) { %> <%= "checked" %> <% } %> />
                        <label for="active-status">Active</label>
                    </div>
                    <div class="form-check me-2">
                        <input id="archived-status" class="form-check-input" type="radio" name="status"
                            value="archived" <% if(queryParams.status === "archived") { %> <%= "checked" %> <% } %> />
                        <label for="archived-status">Archived</label>
                    </div>
                    <div>
                        <input id="all-status" class="form-check-input" type="radio" name="status" value="all" 
                            <% if(queryParams.status === "all") { %> <%= "checked" %> <% } %>
                        />
                        <label for="all-status">All</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-floating">
                            <select id="sort-select" class="form-select" name="sort">
                                <option value="createdAt"
                                    <% if(queryParams.sort === "createdAt" || !queryParams.sort) {%> <%= "selected" %> <% } %> 
                                >
                                    Created At
                                </option>
                                <option value="name"
                                    <% if(queryParams.sort === "name") {%> <%= "selected" %> <% } %> 
                                >
                                    Project name
                                </option>
                                <option value="status"
                                    <% if(queryParams.sort === "status") {%> <%= "selected" %> <% } %> 
                                >
                                    Status
                                </option>
                            </select>
                            <label for="sort-select">Sort</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <select id="sort-dir-select" class="form-select" name="sortDir">
                                <option value="ASC" 
                                    <% if(queryParams.sortDir === "asc" || !queryParams.sortDir) {%> <%= "selected" %> <% } %> 
                                >
                                    Ascending
                                </option>
                                <option value="DESC"
                                    <% if(queryParams.sortDir === "desc") {%> <%= "selected" %> <% } %> 
                                >
                                    Descending
                                </option>
                            </select>
                            <label for="sort-dir-select" class="form-label">Sort Direction</label>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>

        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Project name</th>
                        <th>Project manager</th>
                        <th>Risk manager</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th></th>
                        <% if (locals.role && (locals.role === "project_manager" || locals.role === "admin")) { %>
                            <th>Archive</th>
                        <% } %>
                        <% if (locals.role && (locals.role === "project_manager" || locals.role === "admin")) { %>
                            <th>Change risk manager</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% projects.forEach(project=> {
                        const { dataValues: { id, name, status, project_manager, risk_manager, createdAt }} = project
                        const date = new Date(createdAt);
                        %>
                        <tr>
                            <td>
                                <%= name %>
                            </td>
                            <td>
                                <%= project_manager.dataValues.name %>
                            </td>
                            <td>
                                <%= risk_manager ? risk_manager.dataValues.name : "<No risk manager assigned>" %>
                            </td>
                            <td>
                                <%= status %>
                            </td>
                            <td><%= `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}` %></td>
                            <td class="align-middle text-center"><a href="<%="/project/" + id %>" class="btn btn-sm btn-outline-secondary">Info</a></td>
                            <% if (locals.role && (locals.role === "project_manager" || locals.role === "admin")) { %>
                                <td class="align-middle">
                                    <%- include("../modal/modalOpenButton", { data: id, title: "Archive", disabled: status !== "active", modalId: "projectModal"}); -%>
                                </td>
                                <td class="align-middle">
                                    <%- include("../modal/modalOpenButton", { data: id, title: "Change", disabled: status !== "active", modalId: "riskManagerModal" }); -%>
                                </td>
                            <% } %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <%- include("../modal/addRiskManagerModal"); -%>
            <%- include("../modal/archiveProjectModal"); -%>
        </div>

<%- include("../layout/footer"); -%>
