<div class="modal fade" id="<%= (locals.modalId && modalId) ? `${modalId}` : "modal" %>" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"><%=(locals.title && title) ? title : "Modal label" %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="<%=locals.action%>" method="post">
            <div class="modal-body">
                <input type="hidden" id="<%=(locals.modalId && modalId) ? `${modalId}-${locals.modalName || "projectId"}` : "modal-projectId" %>" name="<%= locals.modalName || "projectId" %>">
